@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  background-color: #F3DBCD;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
  transition: all 0.4s;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0;
}
.tombol {
  background-color: #f36b6f;
  border: none;
  padding: 12px 20px;
}
.tombol2 {
  background-color: #F3DBCD;
  padding: 10px;

  border-radius: 10px;
}
nav {
  background-color: #f3dbcd;
}
nav .navbar-nav li {
  margin: 20px;
}
nav .navbar-sosial {
  display: flex;
}
nav .navbar-sosial li {
  list-style: none;
  margin: 20px;
}
nav .navbar-sosial li i {
  font-size: 23px;
}

.home img {
  width: 100%;
  background-position: center;
}
.about {
  background-image: url(../../img/Group\ 29.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding: 50px 0;
}

.about hr {
  border-top: 6px solid #000;
  width: 50vh;
}
.about .img-about img {
  width: 100%;
  height: 100%;
  box-shadow: -31px 28px 0px 0px rgba(255, 255, 255, 1);
  -webkit-box-shadow: -31px 28px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: -31px 28px 0px 0px rgba(255, 255, 255, 1);
}
.about ol li{
  color: #000;
  font-size: 17px;
  font-weight: bold;
}
.service{
  background-color: #F3DBCD;
  width: 100%;
  height: auto;
  padding: 50px 0;
}
.service h2{
  text-align: center;
  word-spacing: 2px;
  font-weight: 600;
}
.service .service-wrap{
  background-color: #f36b6f;
  padding: 50px;
  border-radius: 10px;
}
.gallery{
  background-color: #F3DBCD;
  height: auto;
  width: 100%;
}
.gallery h2{
  text-align: center;
  word-spacing: 2px;
}
.gallery .gallery-wrap{
  background-color: #f36b6f;
  padding: 30px;
  border-radius: 10px;
  margin: 20px;
}
.gallery .gallery-wrap h1{
  text-align: center;
}



.reviews{
  background-image: url(../../img/WhatsApp\ Image\ 2023-05-20\ at\ 13.23\ 2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding: 50px 0;  
}
.reviews .reviews-wrap{
  width: 100%;
  height: auto;
}
.reviews  .card .card-body{
  background-color: #F3DBCD;
  text-align: center;

}
.contact{
  background-color: #D6BBA7;
  padding: 30px;
  text-align: center;
}
.contact ul{
  display: flex;
}
.contact ul li{
  margin: 20px;
  list-style: none;
}
footer{
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
}
